body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(90deg, rgb(110, 104, 224) 0%, rgb(117, 117, 224) 45%, rgba(103, 87, 242, 0.937) 100%);
}

.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeContainer p{
    font-size: larger;
    color: aqua;
}
.buttonContainer{
    margin: 2rem;
    display: flex;
}
.buttonContainer a{
    margin: 0 2rem;
}
.buttonContainer button{
    border: 2px solid black;
    width: 100%;
    background-color: black;
    color: white;
    font-size: large;
    padding: 1.3rem;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}
.buttonContainer button:hover{
    background-color: rgb(43, 43, 43);
}