doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LoginPage
        style 
            include ../public/home-page.css
    body
        div.homeContainer
            h1 Welcome to our Landing page 
            p You have Successfully Signed-up to our page.
            div.buttonContainer
                a(href="/login") 
                    button Back to login 
                a(href="/signup") 
                    button Back to signup